.contact_btn{
   background-color: aqua !important;
   color: #FFF !important;
   padding: 12px 25px !important;
   border: none !important;
}
.form_width {
    height: auto !important;
    width: 400px;
    border-radius: 8px;
    margin-top: 30px;
    
  }